.container{
    width: 100%;
    margin: 0px;
    padding: 20px;
    align-content: center;
}
.left{
    left:16px;
}
.videoDescription{
    display: flex;
    flex-wrap: wrap;
}
.channelContainer{
    position: static;
    font-size: large;
    height: 60;
    width: 200;
}
#video{
    padding-left: 40px;
    padding-top: 30px;
}
#videoTitle{
    padding-left: 40px;
}
#subscribers{
    border: 1px solid;
    padding: 0px 0;
    color: grey;

}