.container{
    width: 100%;
    margin: 0px;
    padding: 20px;
    align-content: center;
}
.left{
    left:16px;
}
.videoDescription{
    display: flex;
    flex-wrap: wrap;
}
.channelContainer{
    position: static;
    font-size: large;
    height: 60;
    width: 200;
}
.informationContainer{
    width: 940;
}
.viewsCounter{
    padding-top: 20;
    font-weight: 200;
    font-size: xx-large;
}
.subscribeButton{
    display: flex;
    flex-wrap: wrap;
}
.iconStrip{
    width: 940;
    display: flex;
    flex-wrap: wrap;
    height: 20;
}
.rightButtons{
    margin-left:auto; margin-right:0;
}
#video{
    padding-left: 40px;
    padding-top: 30px;
}
#videoTitle{
    padding-left: 40px;
}
#subscribers{
    border: 1px solid;
    padding: 0px 0;
    color: grey;

}

#submit{
    width: 900px;
}
#date{
    font-weight: bold;
}
#loading-gif{
    width: 100px;
    height: 100px;
}