.container{
    width: 100%;
    margin: 0px;
    padding: 20px;
    align-content: center;
}
.main{
    display: flex;
    flex-wrap: wrap;
    width: 1080;
}
.left{
    left:10px;
}
.stats{
    padding-top: 6;
    
}
.interactions{
    align-self: right;
}
.statsAndInteractions{
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 20px;
}
.videoDescription{
    display: flex;
    flex-wrap: wrap;
}
.channelContainer{
    position: static;
    font-size: large;
    height: 180px;
    width: 700px;
    padding-left: 20px;
}
.sideSection{
    width: 350;
    padding-left: 50;
}
.seperator{
    display: flex;
    flex-wrap: wrap;
}
.informationContainer{
    width: 940;
}
.viewsCounter{
    padding-top: 20;
    font-weight: 200;
    font-size: xx-large;
}
.subscribeButton{
    display: flex;
    flex-wrap: wrap;
}
.iconStrip{
    width: 940;
    display: flex;
    flex-wrap: wrap;
    height: 20;
}
.rightButtons{
    margin-left:auto; margin-right:0;
}
.description{
    width: 940;
}
.loadingLabel{
    padding-top: 40;
}
.loading{
    width: 940;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.search{
    font-size: 14pt;
}
.navbar{
    width: 100%;
    margin-left: 10px;
}
.filters{
    height:30;
    display: flex;
    flex-wrap: wrap;
}
#video{
    padding-left: 40px;
    padding-top: 30px;
}
#videoTitle{
    padding-top: 6;
}
#subscribers{
    border: 1px solid;
    padding: 0px 0;
    color: grey;

}

#submit{
    width: 900px;
}
#date{
    font-weight: bold;
}
#loading-gif{
    width: 100px;
    height: 100px;
}
.videos{
    height: 120px;
    width: 200px;
}
article{
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 20px;
}
.new-videos-title{
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
    width: 140;
    font-size: 20px;
}
.greyText{
    color: grey;
    margin: 2;
}
.recomendationText{
    padding-left: 10;
    font-size: medium;
}
.show-more{
    width: 100%;
}
.recomended-videos-views{
    font-size: 16px;
    color: grey;
}
#upNext{
    font-size: 24px;
    margin-top: 0px;
    margin-bottom: 10px;
}

